{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": ["**/*/tsconfig.json"],
    "extraFileExtensions": [".vue"]
  },
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "import/no-unresolved": "error"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"],
      "project": "packages/**/tsconfig.json"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:vue/vue3-recommended"
  ]
}
