
main {
  height: 100%;
}

.deprecated {
  text-decoration: line-through !important;
}

.bx--side-nav__overlay-active {
  z-index: 7000;
}

/* Mobile Mode */
@media (max-width: 1056px) {
  .bx--side-nav ~ .bx--content {
    margin-left: 0 !important;
    padding: 1rem 0 1rem 0;
  }

  tr.bx--parent-row.bx--expandable-row+tr[data-child-row] td {
    padding-left: 1rem !important;
  }
}