
main {
  height: 100%;
}

.deprecated {
  text-decoration: line-through !important;
}

@media (max-width: 1056px) {
  .bx--side-nav ~ .bx--content {
    margin-left: 0 !important;
  }
}

.bx--side-nav__overlay-active {
  z-index: 7000;
}
