@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

main {
  height: 100%;
}

h1 {
  font-weight: 500 !important;
}

.deprecated {
  text-decoration: line-through !important;
}

.bx--side-nav__overlay-active {
  z-index: 7000;
}

.bx--link {
  font-size: inherit !important;
}

.bx--structured-list {
  margin-bottom: 0px !important;
}

.bx--structured-list-tbody .bx--structured-list-row:last-child  {
  border-color: transparent !important;
}

/* Mobile Mode */
@media (max-width: 1056px) {
  .bx--side-nav ~ .bx--content {
    margin-left: 0 !important;
    padding: 1rem 0 1rem 0;
  }

  tr.bx--parent-row.bx--expandable-row + tr[data-child-row] td {
    padding-left: 1rem !important;
  }
}

.CodeMirror * {
  font-family: 'JetBrains Mono', Arial, monospace;
  font-size: 0.85rem;
}
