html {
  scroll-padding-top: 3.2rem;
}

main {
  height: 100%;
}

h1 {
  font-weight: 500 !important;
}

h1:not(:first-child),
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem !important;
}

.deprecated {
  text-decoration: line-through !important;
}

.bx--side-nav__item {
  overflow: visible !important;
}

.bx--header~.bx--side-nav  {
  border-right: 0.3px solid lightgray;
}
.bx--side-nav__submenu .bx--side-nav__menu  {
  display: none;
}

.bx--side-nav__submenu[aria-expanded='true'] + .bx--side-nav__menu {
  display: block;
}

.bx--side-nav__submenu[aria-expanded='false'] + .bx--side-nav__menu {
  display: none;
}

.bx--side-nav__overlay-active {
  z-index: 7000;
}

.bx--inline-notification {
  max-width: inherit !important;
}

.bx--inline-notification__text-wrapper {
  padding: 0.7rem 0 !important;
}

.bx--link {
  font-size: inherit !important;
}

.bx--structured-list {
  margin-bottom: 0 !important;
}

.bx--structured-list-tbody .bx--structured-list-row:last-child {
  border-color: transparent !important;
}

/* Mobile Mode */
@media (max-width: 1056px) {
  .bx--side-nav ~ .bx--content {
    margin-left: 0 !important;
    padding: 1rem 0 1rem 0;
  }

  tr.bx--parent-row.bx--expandable-row + tr[data-child-row] td {
    padding-left: 1rem !important;
  }
}
