name: Build and tests

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: './.github/actions/install'

      - run: | 
          pnpm build
          pnpm build:docs
      
        
        env:
          NODE_OPTIONS: '--max_old_space_size=32192'

      - run: pnpm test-ci

      - name: Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
