name: Deploy demo

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Release]
    types:
      - completed

jobs:
  deploy-demo:
    name: Deploy-demo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup PNPM
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.3.1

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'

      - name: Generate Examples
        run: |
          cd packages/examples/fauna
          pnpm install --global @magidoc/cli@latest 
          magidoc generate

      - name: Publish
        run: |
          npx netlify-cli@latest deploy --prod --dir=packages/examples/fauna/docs
        env:
          NETLIFY_SITE_ID: ${{ secrets.CARBON_MULTI_PAGE_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
